@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Knight University</h1>
    <p>Use this site directory to find our instructors, students, and courses.</p>
</div>
