@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Knight University Website Privacy Statement</h1>
<p>Knight University (the “University”) is committed to preserving your right to privacy. 
    We ensure that the confidentiality of your information is maintained and the collection, use 
    and disclosure of your information is in compliance with the applicable Alberta privacy laws, 
    The Freedom of Information and Protection of Privacy Act (“FIPPA”) and The Personal Health 
    Information Act (“PHIA”). This page summarizes the privacy policies and practices that govern 
    all Knight University websites.
</p>
<p>The personal information collected by the University’s websites are not distributed to any private 
    organizations or used for commercial marketing. Any personal information you provide to the 
    University via its website is managed in accordance with FIPPA. Where a Knight University website 
    collects additional information, such as personal health information, a statement of purpose and/or 
    specific privacy policies will be available. Please be sure to read these statements and privacy policies.
</p>

<h4>How is your information collected and used?</h4>
<p>
    Information is collected on the University website through a variety of methods:
    <ol>
        <li>By University web servers</li>
        <li>Via analytics services running on the University website</li>
        <li>By information provided voluntarily in e-mail and/or web forms</li>
    </ol>
</p>
